/* .hip-hop {
  background-color: rgb(71, 250, 86);
}

.rock {
  background-color: rgb(255, 255, 49);
}

.pop {
  background-color: rgb(255, 158, 242);
}

.electronic {
  background-color: aqua;
} */
